<div class="nav">
  <div class="nav__header">
    <div class="nav__header_container">
      <div class="nav__header_logo">
        <i class='uil uil-constructor'></i>
      </div>
      <div class="nav__header_main">IRA Application</div>
    </div>
    <div class="nav__header_additional">
      IRA Accounts provided by Fidelity Investments
    </div>
  </div>
  <div class="nav__step_container">
    <div class="nav__step center_items">

      <div class="nav__step_icon_line nav__step_icon_line_right">
        <div class="nav__step_icon nav__step_icon_selected center_items">
          <i class="uil uil-file-alt"></i>
        </div>
      </div>
      <div class="nav__step_title">
        IRA Application
      </div>
    </div>
    <div class="nav__step center_items">
      <div class="nav__step_icon_line nav__step_icon_line_left nav__step_icon_line_right">
        <div class="nav__step_icon center_items">
          <i class='uil uil-sliders-v'></i>
        </div>
      </div>
      <div class="nav__step_title">
        Risk assessment
      </div>
    </div>
    <div class="nav__step center_items">
      <div class="nav__step_icon_line nav__step_icon_line_left">
        <div class="nav__step_icon center_items">
          <i class='uil uil-scenery'></i>
        </div>
      </div>
      <div class="nav__step_title">
        Upload ID
      </div>
    </div>
  </div>
</div>
