@import '../../variables';

$separator: #f4f4f4;

$circle-size: 40px;
$outer-circle-expanse: 4px;
$circle-border-size: 1px;
$circle-line-fill: #e9e9e9;
$line-width: 130px;

.nav {
  height: $nav-height;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid $separator;

  &__header {

    &_container {
      display: flex;
      align-items: center;
    }

    &_logo {
      height: 25px;
      width: 24px;
      margin: 10px 10px 10px 0;
      i:before {
        transform: scale(1.8);
        color: $primary;
      }
    }

    &_main {
      font-size: 20px;
      color: #000;
    }

    &_additional {
      font-size: 12px;
    }
  }

  &__step {

    &_container {
      display: flex;
      justify-content: space-between;
      width: 692px;
      margin-left: 100px;
    }

    &_icon {
      position: relative;
      width: $circle-size;
      height: $circle-size;
      color: #fff;
      border-radius: 50%;
      margin: $outer-circle-expanse 0;
      background: $circle-line-fill;

      &_selected {
        background: $primary;
        &:after {
          content: '';
          position: absolute;
          top: $circle-border-size - $outer-circle-expanse;
          left: $circle-border-size - $outer-circle-expanse;
          height: $circle-size + $outer-circle-expanse;
          width: $circle-size + $outer-circle-expanse;
          border-radius: 50%;
          border: $circle-border-size solid $primary;
          z-index: 2;
        }
      }

      i:before {
        transform: scale(1.6);
      }

      &_line {
        position: relative;

        &_left, &_right {
          &:after, &:before {
            content: '';
            position: absolute;
            top: calc(50% - 1px);
            height: 2px;
            background-color: $circle-line-fill;
            z-index: 1;
          }
        }

        &_left:before {
          left: -$line-width;
          width: $line-width;
        }

        &_right:after {
          left: 100%;
          width: $line-width;
        }
      }
    }

    &_title {
      width: 100%;
      font-size: 12px;
      text-align: center;
    }
  }
}

:host {
  display: block;
}
