<div class="beneficiaries">
  <h2 class="beneficiaries__title">Beneficiaries</h2>

  <div class="beneficiaries__primary">
    <h3 class="beneficiaries__subtitle">Primary Beneficiaries</h3>
    <form class="beneficiaries__form"
          *ngFor="let group of beneficiaries"
          [formGroup]="group"
          (keyup.enter)="onEnter(group)"
          (keyup.control.delete)="onDelete(group)"
          @slideInOut
    >
      <div class="beneficiaries__form_group beneficiaries__form_name">
        <label for="full-name-input" class="beneficiaries__form_label">Full Name</label>
        <input formControlName="name" type="text" id="full-name-input" class="beneficiaries__form_input" placeholder="John Doe">
      </div>
      <div class="beneficiaries__form_group beneficiaries__form_birthday">
        <label for="birth-date-input" class="beneficiaries__form_label">Date of Birth</label>
        <div class="beneficiaries__form_calendar">
          <input formControlName="birth" type="text" id="birth-date-input" class="beneficiaries__form_input" placeholder="MM/DD/YYYY">
        </div>
      </div>
      <div class="beneficiaries__form_group beneficiaries__form_ssn">
        <div class="beneficiaries__form_select">
          <select formControlName="type">
            <option value="1">SSN</option>
            <option value="2">Other</option>
          </select>
        </div>
        <input formControlName="typeValue" type="text" class="beneficiaries__form_input beneficiaries__form_input_ssn" placeholder="Optional">
      </div>
      <div class="beneficiaries__form_group beneficiaries__form_relation">
        <label for="relation-select" class="beneficiaries__form_label">Relation</label>
        <div class="beneficiaries__form_select">
          <select formControlName="relation" id="relation-select">
            <option value="default" disabled>Select</option>
            <option value="1">Trust</option>
            <option value="2">Other</option>
          </select>
        </div>
      </div>
      <div class="beneficiaries__form_group beneficiaries__form_trust">
        <input formControlName="trust" type="text" class="beneficiaries__form_input" placeholder="0">
      </div>
      <div class="beneficiaries__form_actions">
        <i (click)="removeBeneficiary(group)" *ngIf="group.touched" class="beneficiaries__form_actions_delete uil-times"></i>
        <i (click)="submitBeneficiary(group)" *ngIf="group.valid && !group.get('checked').value" class="beneficiaries__form_actions_check uil-check"></i>
      </div>
    </form>
    <div class="beneficiaries__primary_total_container">
      <div class="beneficiaries__primary_total"
           [ngClass]="{'total_ok': total === 100, 'total_over': total > 100}"
      >
        <span>Primary Total: {{total}}%</span>
      </div>
    </div>
  </div>
  <div class="beneficiaries__contingent">
    <h3 class="beneficiaries__subtitle">Contingent Beneficiaries</h3>
  </div>

  <button class="next_button" [ngClass]="{'next_button_active': total === 100}">Next</button>
</div>
