@import '../../../variables';

$input-bg: #f6f6f6;
$action-btn-size: 36px;

$total-fill: #fff9f1;
$total-font: #fdba05;
$total-fill-success: #f3fdf8;

.beneficiaries {
  padding: 48px;

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    color: $nav-title;
    margin-bottom: 48px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__primary {
    padding-right: $action-btn-size * 2;

    &_total {
      background: $total-fill;
      border-radius: 5px;
      color: $total-font;
      font-size: 16px;
      padding: 6px 12px;
      cursor: default;

      &.total_ok {
        background: $total-fill-success;
        color: $success;

        span:before {
          content: '\e8d8';
          font-family: unicons;
          margin-right: 4px;
        }
      }

      &.total_over {
        color: $warn;
      }

      &_container {
        display: flex;
        justify-content: flex-end;
        margin-top: 24px;
      }
    }
  }

  &__form {
    display: flex;
    position: relative;

    &_group {
      margin-right: 32px;
      position: relative;
      display: flex;
      flex-direction: column;
    }

    &_name {
      width: 240px;
    }

    &_birthday {
      width: 172px;
    }

    &_trust {
      width: 64px;
      margin: 24px 4px 0 0;
      position: relative;
      &:after {
        content: '%';
        position: absolute;
        top: 6px;
        right: 6px;
        color: $text-light;
        pointer-events: none;
      }
      input {
        padding-right: 24px;
      }
    }

    &_ssn {
      flex-direction: row;
      padding-top: 22px;
    }

    &_label {
      width: 100%;
      font-size: 14px;
    }

    &_input, &_select select {
      background: $input-bg;
      border: none;
      border-radius: 5px;
      padding: 0 12px;
      height: 36px;
      font-size: 16px;
      max-width: 100%;

      &.ng-touched.ng-invalid {
        border: 1px solid $warn;
      }
    }

    &_input {
      &_ssn {
        margin-left: 16px;
        width: 110px;
      }

      &::placeholder {
        color: $text-light;
        font-size: 16px;
      }
    }

    &_select {
      position: relative;

      select {
        -moz-appearance: button;
        -webkit-appearance: button;
        padding-right: 36px;
      }

      &:before {
        content: '\e82d';
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        font-family: unicons;
        pointer-events: none;
        display: inline-block;
        font-size: 22px;
        line-height: 22px;
      }
    }

    &_calendar {
      position: relative;

      .beneficiaries__form_input {
        padding-left: 48px;
      }

      &:before {
        content: '\e8b6';
        color: $text-light;
        font-family: unicons;
        display: inline-block;
        font-size: 22px;
        line-height: 22px;
        position: absolute;
        left: 13px;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
      }
    }

    &_actions {
      margin-top: 24px;
      position: absolute;
      top: 0;
      left: 100%;
      width: $action-btn-size * 2;

      &_delete {
        color: $warn;
      }

      &_check {
        color: $success;
      }

      i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: $action-btn-size;
        height: $action-btn-size;
        cursor: pointer;

        &:before {
          font-size: 24px;
        }
      }
    }
  }

  &__continent {
    margin: 48px 0;
  }
}

.next_button {
  background: $text-light;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 6px 43px;

  &_active {
    background: $primary;
  }
}

:host {
  display: block;
}
