<div class="sidenav">
  <div class="sidenav__item">
    <i class="uil uil-check"></i>
    <span class="sidenav__item_title">Personal Information</span>
  </div>
  <div class="sidenav__item">
    <i class="uil uil-check"></i>
    <span class="sidenav__item_title">Contact Information</span>
  </div>
  <div class="sidenav__item">
    <i class="uil uil-check"></i>
    <span class="sidenav__item_title">Relationship</span>
  </div>
  <div class="sidenav__item">
    <span class="sidenav__item_title_selected sidenav__item_icon_circle_filled">Beneficiaries</span>
  </div>
  <div class="sidenav__item">
    <span class="sidenav__item_title_disabled sidenav__item_icon_circle">Account Characteristics</span>
  </div>
  <div class="sidenav__item">
    <span class="sidenav__item_title_disabled sidenav__item_icon_circle">Review</span>
  </div>
</div>
