@import '../../../variables';

.sidenav {
  width: 270px;
  height: 100%;
  border-right: 1px solid $nav-divider-color;

  &__item {
    font-size: 12px;
    padding: 16px 21px;
    display: flex;
    align-items: center;
    color: $nav-title;

    i {
      margin-right: 5px;
      &:before {
        color: $success;
      }
    }

    &_icon_circle:before, &_icon_circle_filled:before {
      content: '';
      display: inline-block;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      margin-right: 5px;
      border: 1px solid $text-light;
    }

    &_icon_circle_filled:before {
      background: $primary;
      border: none;
    }

    &_title {
      &_selected {
        font-weight: 600;
        color: $text;
      }

      &_disabled {
        color: $text-light;
      }
    }
  }
}

:host {
  display: block;
}
