@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url('https://unicons.iconscout.com/release/v1.0.0/css/unicons.css');

@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {height: 100%;}

body {
  color: $text;
  font-size: 16px;
  min-width: 1306px;
  position: relative;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.center_items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
